/* nav{
    height: 50px;
    background-color:#ccc;
}
.nav{
    width: 1200px;
    margin: 0 auto;
    line-height: 50px;
}
.nav li{
    float:left;
    margin: 0 30px;
    cursor: pointer;
}
.sousuo{
    margin-top: 20px;
    height: 25px;
    float: left;
}
#but{
    margin-top: 20px;
    float: left;
    height: 25px;
    width: 25px;
} */
.navbar-form navbar-left{
    float: left;
}
#logo{
    margin-right:300px;
}
#tixing{
    margin-top: 18px
}
